In [1]:
import pandas as pd 
import numpy as np
import copy
import datetime
import os
import glob
import copy
import datetime
from struct import *
from pandas.tseries.offsets import Hour, Minute, DateOffset, Day
import matplotlib.pyplot as plt

### 1.1  现在日线选取成交量的高位点

In [2]:
data = pd.read_csv('D:/tushare/data/day/sz399300 .csv',sep = ',',encoding='utf8')

In [3]:
data.head()

,Unnamed: 0,date,code,open,high,low,close,amount,vol
0,0,2008-01-02 14:55:00,sz399300,5349.76,5404.93,5283.45,5385.10,9.888643e+09,45668710
1,1,2008-01-03 14:55:00,sz399300,5381.15,5422.67,5315.95,5422.03,1.359834e+10,64645878
2,2,2008-01-04 14:55:00,sz399300,5430.63,5499.08,5422.46,5483.65,1.188662e+10,51746420
3,3,2008-01-07 14:55:00,sz399300,5480.44,5569.15,5455.50,5556.59,1.231896e+10,53485409
4,4,2008-01-08 14:55:00,sz399300,5575.95,5630.62,5485.23,5528.05,1.479757e+10,64899501

In [4]:
#data['datetime'] = data['date']+ ' '+ data['time']
data.index = pd.to_datetime(data['date'])
#data1.drop(['datetime',],axis=1,inplace=True)
data.drop(['code','amount','code','Unnamed: 0','date'],axis=1,inplace=True)

In [5]:
def addMA(data, p=144):
    #不使用TA-LIB函数库MA_Type: 0=SMA, 1=EMA, 2=WMA, 3=DEMA, 4=TEMA, 5=TRIMA, 6=KAMA, 7=MAMA, 8=T3 (Default=SMA)
    #data['MA5'] = ta.MA(data.close.values,5,matype=0)
    #data['MA144'] = ta.MA(data.close.values,144,matype=0)
    data['MA'+str(p)] = data['close'].rolling(p).mean()   
    data['MA'+str(p)+'a'] = data['MA'+str(p)].pct_change()

In [6]:
#w_vol=data['volume'].resample('W',label='right',closed='right').mean().dropna()
#w_vol=pd.DataFrame(w_vol)

In [7]:
addMA(data)

In [8]:
#成交量大于昨天的量和明天的量，即为高点，在‘B’列进行标记
data['B']=np.where((data['vol'] > data['vol'].shift(1)) & (data['vol'] > data['vol'].shift(-1)),1,0)
#将时间设为14:55，方便与15分钟图匹配
data.index = data.index-10*Minute()
data.tail(20)

,open,high,low,close,vol,MA144,MA144a,B
date,,,,,,,,
2019-01-25 14:45:00,3165.18,3203.17,3164.41,3184.47,83967729,3255.302917,-0.000586,1
2019-01-28 14:45:00,3203.12,3228.87,3174.72,3183.78,82622431,3253.637986,-0.000511,0
2019-01-29 14:45:00,3177.26,3200.99,3148.23,3193.97,77658334,3251.436528,-0.000677,0
2019-01-30 14:45:00,3181.66,3202.90,3167.89,3168.48,63746517,3249.773472,-0.000511,0
2019-01-31 14:45:00,3182.70,3216.07,3178.01,3201.63,86247839,3248.331458,-0.000444,1
2019-02-01 14:45:00,3225.73,3247.50,3207.72,3247.40,82019641,3247.523472,-0.000249,0
2019-02-11 14:45:00,3239.81,3307.06,3239.81,3306.47,98818434,3247.273681,-0.000077,0
2019-02-12 14:45:00,3306.35,3335.36,3298.63,3330.34,122232462,3247.032153,-0.000074,0
2019-02-13 14:45:00,3337.78,3405.58,3329.14,3397.03,163828332,3246.600556,-0.000133,1
2019-02-14 14:45:00,3392.85,3415.40,3381.98,3402.14,151127290,3246.146528,-0.000140,0
2019-02-15 14:45:00,3391.24,3395.03,3335.87,3338.70,143668603,3245.668542,-0.000147,0
2019-02-18 14:45:00,3366.42,3445.75,3366.42,3445.75,182886089,3245.423333,-0.000076,1
2019-02-19 14:45:00,3454.72,3480.79,3419.07,3439.61,179083785,3245.054722,-0.000114,0
2019-02-20 14:45:00,3449.93,3463.77,3421.51,3451.93,147390311,3244.914722,-0.000043,0
2019-02-21 14:45:00,3450.14,3500.25,3431.63,3442.71,180143287,3244.868403,-0.000014,0
2019-02-22 14:45:00,3439.38,3520.12,3417.98,3520.12,187237974,3245.485069,0.000190,0
2019-02-25 14:45:00,3575.85,3729.48,3574.69,3729.48,342557122,3247.576319,0.000644,0
2019-02-26 14:45:00,3734.71,3762.11,3679.27,3684.69,358038698,3248.908264,0.000410,1
2019-02-27 14:45:00,3682.81,3737.63,3638.33,3678.39,286236007,3249.968264,0.000326,0
2019-02-28 14:45:00,3675.26,3695.46,3650.05,3669.37,184810220,3250.577014,0.000187,0

j = 0
biaozhun = 0
for i in range(len(data)):
    if (data.ix[i,'B']==1) & (j==0):
        j=j+1
        biaozhun=data.ix[i,'vol']
        
    elif (data.ix[i,'B']==1) & (j>0) :
        if data.ix[i,'vol']> biaozhun:
            data.ix[i,'c']=1
        biaozhun=data.ix[i,'vol']
        j=j+1  
    elif data.ix[i,'vol']> biaozhun:
        data.ix[i,'c']=1

In [9]:
data.drop(['open','high','low','close'],axis=1,inplace=True)

In [10]:
data.head()

                          vol  MA144  MA144a  B
date
2008-01-02 14:45:00  45668710    NaN     NaN  0
2008-01-03 14:45:00  64645878    NaN     NaN  1
2008-01-04 14:45:00  51746420    NaN     NaN  0
2008-01-07 14:45:00  53485409    NaN     NaN  0
2008-01-08 14:45:00  64899501    NaN     NaN  1

### 读取通达信5分钟数据，并整理为15分钟数据

In [11]:
min15 = pd.read_csv('D:/tushare/data/5min/sz399300.csv',sep = ',',encoding='utf8')
min15.head()

,Unnamed: 0,date,time,code,open,high,low,close,amount,vol
0,0,2018-01-02,09:35:00,sz399300,4030.860107,4059.600098,4030.860107,4059.600098,8.479816e+09,84798125
1,1,2018-01-02,09:40:00,sz399300,4059.929932,4064.340088,4059.929932,4061.449951,7.243599e+09,72435962
2,2,2018-01-02,09:45:00,sz399300,4061.239990,4062.070068,4055.209961,4055.389893,6.607842e+09,66078393
3,3,2018-01-02,09:50:00,sz399300,4055.169922,4066.810059,4055.169922,4066.810059,6.364881e+09,63648777
4,4,2018-01-02,09:55:00,sz399300,4066.510010,4071.600098,4066.439941,4070.090088,6.838485e+09,68384818

In [12]:
min15['datetime'] = min15['date']+ ' '+ min15['time']
min15.index = pd.to_datetime(min15['datetime'])

In [13]:
min15.tail(10)

,Unnamed: 0,date,time,code,open,high,low,close,amount,vol,datetime
datetime,,,,,,,,,,,
2019-02-28 14:15:00,13430,2019-02-28,14:15:00,sz399300,3665.800049,3668.580078,3665.419922,3668.409912,2.386919e+09,23869167,2019-02-28 14:15:00
2019-02-28 14:20:00,13431,2019-02-28,14:20:00,sz399300,3668.419922,3668.510010,3660.600098,3660.709961,2.665824e+09,26658218,2019-02-28 14:20:00
2019-02-28 14:25:00,13432,2019-02-28,14:25:00,sz399300,3660.969971,3662.909912,3656.860107,3662.439941,3.474227e+09,34742244,2019-02-28 14:25:00
2019-02-28 14:30:00,13433,2019-02-28,14:30:00,sz399300,3662.189941,3662.340088,3659.030029,3662.260010,3.020440e+09,30204362,2019-02-28 14:30:00
2019-02-28 14:35:00,13434,2019-02-28,14:35:00,sz399300,3662.550049,3674.199951,3662.550049,3671.969971,4.147347e+09,41473446,2019-02-28 14:35:00
2019-02-28 14:40:00,13435,2019-02-28,14:40:00,sz399300,3672.100098,3674.520020,3671.629883,3671.629883,3.791323e+09,37913204,2019-02-28 14:40:00
2019-02-28 14:45:00,13436,2019-02-28,14:45:00,sz399300,3671.699951,3672.050049,3663.879883,3664.229980,3.848749e+09,38487460,2019-02-28 14:45:00
2019-02-28 14:50:00,13437,2019-02-28,14:50:00,sz399300,3664.520020,3669.810059,3663.399902,3669.649902,4.098097e+09,40980942,2019-02-28 14:50:00
2019-02-28 14:55:00,13438,2019-02-28,14:55:00,sz399300,3670.100098,3670.100098,3667.370117,3667.479980,5.101355e+09,51013519,2019-02-28 14:55:00
2019-02-28 15:00:00,13439,2019-02-28,15:00:00,sz399300,3667.840088,3669.550049,3667.320068,3669.370117,5.513921e+09,55139194,2019-02-28 15:00:00

In [14]:
min15.drop(['Unnamed: 0','amount','datetime'],axis=1,inplace=True)

In [15]:
time= min15['time']
date= min15['date']

In [16]:
time = time[2::3] #从第二行开始，每3行取样，把时间改为15分钟周期
date = date[2::3]

In [17]:
min15 = min15.resample('15T',label='right',closed='right').mean().dropna() #整个数组重新取样，15分钟周期，按平均值统计，删除字符列，仅保留数值列

In [18]:
addMA(min15,p=80) #15分钟线的80周期均线和均线的导数为日线图的5日线

In [19]:
min15['time'] = time

In [20]:
min15['date'] = date

### 将日线数据合并在15分钟数据中

In [21]:
df= pd.merge(min15,data,left_index=True,right_index=True,how='left')
#df.drop(['code','amount','time','Unnamed: 0','date'],axis=1,inplace=True)

In [22]:
df.fillna(int(0) ,inplace=True)#用0填充NaN

In [23]:
df

,open,high,low,close,vol_x,MA80,MA80a,time,date,vol_y,MA144,MA144a,B
datetime,,,,,,,,,,,,,
2018-01-02 09:45:00,4050.676676,4062.003418,4048.666667,4058.813314,7.443749e+07,0.000000,0.000000,09:45:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 10:00:00,4063.933350,4071.233398,4063.909993,4069.410075,6.753364e+07,0.000000,0.000000,10:00:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 10:15:00,4065.590088,4065.590088,4060.450033,4062.290039,5.127486e+07,0.000000,0.000000,10:15:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 10:30:00,4067.126628,4072.409993,4067.076660,4072.146566,4.119257e+07,0.000000,0.000000,10:30:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 10:45:00,4075.173340,4077.533366,4073.513346,4075.639974,3.741625e+07,0.000000,0.000000,10:45:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 11:00:00,4079.059977,4080.993327,4076.813314,4079.006673,2.896134e+07,0.000000,0.000000,11:00:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 11:15:00,4077.166667,4079.746745,4076.199951,4078.926676,2.909102e+07,0.000000,0.000000,11:15:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 11:30:00,4083.550049,4084.069987,4081.833333,4082.576660,2.830057e+07,0.000000,0.000000,11:30:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 13:15:00,4080.136637,4081.386637,4078.683350,4079.876628,2.829186e+07,0.000000,0.000000,13:15:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 13:30:00,4082.070068,4083.503337,4081.533285,4083.416585,2.737417e+07,0.000000,0.000000,13:30:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 13:45:00,4085.120036,4086.626709,4083.953369,4084.916667,2.889266e+07,0.000000,0.000000,13:45:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 14:00:00,4080.130046,4080.286621,4077.010010,4077.203288,2.776099e+07,0.000000,0.000000,14:00:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 14:15:00,4075.153320,4075.833333,4073.216715,4073.793376,2.596976e+07,0.000000,0.000000,14:15:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 14:30:00,4076.986735,4081.883382,4076.713379,4081.719971,2.468449e+07,0.000000,0.000000,14:30:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-02 14:45:00,4083.680094,4085.213298,4082.356689,4083.773275,3.040223e+07,0.000000,0.000000,14:45:00,2018-01-02,146935435.0,3848.907292,0.001074,0.0
2018-01-02 15:00:00,4085.740072,4087.003337,4085.016764,4086.639974,4.308907e+07,0.000000,0.000000,15:00:00,2018-01-02,0.0,0.000000,0.000000,0.0
2018-01-03 09:45:00,4091.776611,4097.439860,4091.356608,4095.699951,7.407853e+07,0.000000,0.000000,09:45:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 10:00:00,4105.149902,4109.246582,4103.763184,4108.016764,6.716828e+07,0.000000,0.000000,10:00:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 10:15:00,4112.483236,4117.373372,4112.026530,4117.013346,5.745935e+07,0.000000,0.000000,10:15:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 10:30:00,4126.193359,4129.669922,4124.709961,4128.066732,4.967582e+07,0.000000,0.000000,10:30:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 10:45:00,4131.716797,4136.036784,4130.976725,4135.906738,4.531621e+07,0.000000,0.000000,10:45:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 11:00:00,4135.596517,4137.033203,4132.886556,4134.206868,3.774275e+07,0.000000,0.000000,11:00:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 11:15:00,4132.496745,4133.236654,4129.663249,4130.459961,3.326225e+07,0.000000,0.000000,11:15:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 11:30:00,4132.773275,4136.290039,4132.290039,4135.880046,3.131291e+07,0.000000,0.000000,11:30:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 13:15:00,4135.583333,4136.270020,4133.223470,4133.516602,3.306695e+07,0.000000,0.000000,13:15:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 13:30:00,4128.743327,4129.956706,4125.973307,4127.509928,3.106229e+07,0.000000,0.000000,13:30:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 13:45:00,4123.100098,4123.473470,4117.406576,4117.526693,4.131758e+07,0.000000,0.000000,13:45:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 14:00:00,4109.100098,4112.916667,4106.970052,4110.066732,3.764352e+07,0.000000,0.000000,14:00:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 14:15:00,4114.876628,4116.693359,4114.156738,4116.273438,2.502134e+07,0.000000,0.000000,14:15:00,2018-01-03,0.0,0.000000,0.000000,0.0
2018-01-03 14:30:00,4122.220052,4125.009928,4120.919922,4123.409993,2.892478e+07,0.000000,0.000000,14:30:00,2018-01-03,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-27 10:15:00,3694.993327,3698.186686,3686.526611,3689.829915,8.978678e+07,3556.842200,0.000864,10:15:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 10:30:00,3688.126628,3694.813314,3683.396647,3691.556641,6.852280e+07,3559.865616,0.000850,10:30:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 10:45:00,3700.656657,3705.666667,3698.133301,3703.386637,4.609969e+07,3562.961741,0.000870,10:45:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 11:00:00,3700.656657,3703.166667,3696.140055,3699.170003,3.249703e+07,3566.131158,0.000890,11:00:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 11:15:00,3705.700033,3711.460042,3705.243327,3710.640055,4.075697e+07,3569.387159,0.000913,11:15:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 11:30:00,3707.546712,3708.146729,3700.316650,3701.326579,3.441232e+07,3572.589408,0.000897,11:30:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 13:15:00,3708.333333,3716.239990,3707.746663,3715.956624,4.920729e+07,3576.174992,0.001004,13:15:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 13:30:00,3723.199951,3730.993408,3721.476644,3727.550049,6.127853e+07,3579.887743,0.001038,13:30:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 13:45:00,3720.556641,3720.653320,3704.403320,3705.113281,7.476415e+07,3583.368867,0.000972,13:45:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 14:00:00,3688.399984,3690.749919,3680.790039,3685.536702,5.807126e+07,3586.530950,0.000882,14:00:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 14:15:00,3683.816732,3687.180013,3680.210042,3684.023275,4.068756e+07,3589.559866,0.000845,14:15:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 14:30:00,3669.433268,3672.000000,3659.833252,3664.439941,6.214721e+07,3592.295781,0.000762,14:30:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-27 14:45:00,3655.773356,3657.566732,3646.180013,3647.479980,6.582684e+07,3594.761239,0.000686,14:45:00,2019-02-27,286236007.0,3249.968264,0.000326,0.0
2019-02-27 15:00:00,3656.626709,3668.329997,3656.626709,3668.316650,5.776788e+07,3597.495155,0.000761,15:00:00,2019-02-27,0.0,0.000000,0.000000,0.0
2019-02-28 09:45:00,3670.699951,3678.086670,3656.326742,3666.196696,1.192915e+08,3600.324197,0.000786,09:45:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 10:00:00,3670.726644,3677.900065,3668.406738,3676.840007,6.377088e+07,3603.158656,0.000787,10:00:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 10:15:00,3681.126628,3685.446615,3676.570068,3681.566650,5.112007e+07,3605.968031,0.000780,10:15:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 10:30:00,3688.026693,3693.963298,3686.336670,3689.459961,4.420105e+07,3608.984280,0.000836,10:30:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 10:45:00,3685.146647,3687.926676,3679.896729,3682.596680,3.675515e+07,3611.845989,0.000793,10:45:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 11:00:00,3688.623372,3691.750000,3683.123372,3685.340007,3.432756e+07,3614.637822,0.000773,11:00:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 11:15:00,3674.780029,3678.396647,3670.636637,3673.776611,3.416198e+07,3617.237947,0.000719,11:15:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 11:30:00,3666.766683,3670.846680,3661.563314,3665.979980,3.306269e+07,3619.748405,0.000694,11:30:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 13:15:00,3669.776693,3673.013346,3666.523275,3671.769938,2.943156e+07,3622.142863,0.000661,13:15:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 13:30:00,3681.133301,3686.210042,3680.466634,3683.976725,3.277149e+07,3624.564155,0.000668,13:30:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 13:45:00,3680.166667,3681.170003,3673.610026,3674.860026,2.960777e+07,3626.787322,0.000613,13:45:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 14:00:00,3667.900065,3669.030029,3663.836670,3666.340007,2.911013e+07,3629.148655,0.000651,14:00:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 14:15:00,3665.329997,3667.533366,3662.633301,3666.526611,3.022004e+07,3631.665280,0.000693,14:15:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 14:30:00,3663.859945,3664.586670,3658.830078,3661.803304,3.053494e+07,3634.306989,0.000727,14:30:00,2019-02-28,0.0,0.000000,0.000000,0.0
2019-02-28 14:45:00,3668.783366,3673.590007,3666.019938,3669.276611,3.929137e+07,3637.145322,0.000781,14:45:00,2019-02-28,184810220.0,3250.577014,0.000187,0.0
2019-02-28 15:00:00,3667.486735,3669.820068,3666.030029,3668.833333,4.904455e+07,3640.010906,0.000788,15:00:00,2019-02-28,0.0,0.000000,0.000000,0.0

#### 选出日线图上的成交量高点日

In [24]:
date=df[df['B']==1]['date']#选出高点日，并存入date中

In [25]:
for i in range(len(date)):     #该部分为重点思路
    df.loc[date[i],'B'] = np.ones(16).astype(int) #在15分钟图上，当天的高点标识位“B”全部改为1，记住这种编程思路

In [26]:
df[df['B'] ==1]

,open,high,low,close,vol_x,MA80,MA80a,time,date,vol_y,MA144,MA144a,B
datetime,,,,,,,,,,,,,
2018-01-03 09:45:00,4091.776611,4097.439860,4091.356608,4095.699951,7.407853e+07,0.000000,0.000000,09:45:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 10:00:00,4105.149902,4109.246582,4103.763184,4108.016764,6.716828e+07,0.000000,0.000000,10:00:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 10:15:00,4112.483236,4117.373372,4112.026530,4117.013346,5.745935e+07,0.000000,0.000000,10:15:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 10:30:00,4126.193359,4129.669922,4124.709961,4128.066732,4.967582e+07,0.000000,0.000000,10:30:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 10:45:00,4131.716797,4136.036784,4130.976725,4135.906738,4.531621e+07,0.000000,0.000000,10:45:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 11:00:00,4135.596517,4137.033203,4132.886556,4134.206868,3.774275e+07,0.000000,0.000000,11:00:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 11:15:00,4132.496745,4133.236654,4129.663249,4130.459961,3.326225e+07,0.000000,0.000000,11:15:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 11:30:00,4132.773275,4136.290039,4132.290039,4135.880046,3.131291e+07,0.000000,0.000000,11:30:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 13:15:00,4135.583333,4136.270020,4133.223470,4133.516602,3.306695e+07,0.000000,0.000000,13:15:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 13:30:00,4128.743327,4129.956706,4125.973307,4127.509928,3.106229e+07,0.000000,0.000000,13:30:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 13:45:00,4123.100098,4123.473470,4117.406576,4117.526693,4.131758e+07,0.000000,0.000000,13:45:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 14:00:00,4109.100098,4112.916667,4106.970052,4110.066732,3.764352e+07,0.000000,0.000000,14:00:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 14:15:00,4114.876628,4116.693359,4114.156738,4116.273438,2.502134e+07,0.000000,0.000000,14:15:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 14:30:00,4122.220052,4125.009928,4120.919922,4123.409993,2.892478e+07,0.000000,0.000000,14:30:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-03 14:45:00,4116.793294,4117.486491,4111.493327,4111.583333,4.248521e+07,0.000000,0.000000,14:45:00,2018-01-03,151852218.0,3852.917847,0.001042,1.0
2018-01-03 15:00:00,4106.646647,4108.993327,4106.000000,4108.316732,5.021808e+07,0.000000,0.000000,15:00:00,2018-01-03,0.0,0.000000,0.000000,1.0
2018-01-08 09:45:00,4141.386719,4143.676595,4139.166667,4141.750000,1.024634e+08,0.000000,0.000000,09:45:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 10:00:00,4134.693359,4136.926595,4129.959961,4132.959961,6.477183e+07,0.000000,0.000000,10:00:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 10:15:00,4134.746582,4136.966634,4132.896810,4135.783366,5.644214e+07,0.000000,0.000000,10:15:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 10:30:00,4141.576660,4144.939941,4141.180013,4144.196615,5.547798e+07,0.000000,0.000000,10:30:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 10:45:00,4144.266764,4146.239909,4142.503418,4144.573242,4.410786e+07,0.000000,0.000000,10:45:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 11:00:00,4152.906738,4156.779948,4151.900065,4155.646810,4.347478e+07,0.000000,0.000000,11:00:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 11:15:00,4160.766764,4164.760091,4159.549967,4163.076660,5.428745e+07,0.000000,0.000000,11:15:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 11:30:00,4160.480143,4160.666667,4158.336589,4159.183268,3.548657e+07,0.000000,0.000000,11:30:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 13:15:00,4160.456706,4162.666667,4160.180013,4161.483398,3.794324e+07,0.000000,0.000000,13:15:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 13:30:00,4159.009928,4159.916667,4155.639811,4157.090007,3.760497e+07,0.000000,0.000000,13:30:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 13:45:00,4158.886719,4161.913411,4158.153320,4161.313477,3.684491e+07,0.000000,0.000000,13:45:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 14:00:00,4159.216634,4159.903320,4154.883138,4155.330078,3.828222e+07,0.000000,0.000000,14:00:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 14:15:00,4152.270020,4154.246745,4151.736654,4153.523438,3.171710e+07,0.000000,0.000000,14:15:00,2018-01-08,0.0,0.000000,0.000000,1.0
2018-01-08 14:30:00,4154.026530,4154.800130,4151.816732,4152.459961,3.280353e+07,0.000000,0.000000,14:30:00,2018-01-08,0.0,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-18 10:15:00,3386.003337,3388.533285,3383.826660,3386.480062,3.361553e+07,3350.812584,0.000480,10:15:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 10:30:00,3395.749919,3399.903320,3395.003337,3398.779948,3.623307e+07,3352.559418,0.000521,10:30:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 10:45:00,3402.056641,3405.700033,3401.953369,3405.089925,3.057097e+07,3354.354292,0.000535,10:45:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 11:00:00,3404.896647,3406.200033,3402.406657,3403.513265,2.473626e+07,3355.974582,0.000483,11:00:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 11:15:00,3406.033285,3409.433268,3405.813314,3409.316732,2.473036e+07,3357.533332,0.000464,11:15:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 11:30:00,3413.813232,3414.920085,3410.973307,3412.276611,2.639670e+07,3359.123207,0.000474,11:30:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 13:15:00,3412.493327,3415.250000,3412.409993,3414.993327,2.764027e+07,3360.705747,0.000471,13:15:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 13:30:00,3420.120036,3423.770020,3419.766602,3422.079997,3.671122e+07,3362.329706,0.000483,13:30:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 13:45:00,3427.336670,3431.723307,3426.933350,3430.710042,3.926043e+07,3364.138998,0.000538,13:45:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 14:00:00,3431.323405,3432.086670,3428.786621,3430.043376,3.269602e+07,3365.869667,0.000514,14:00:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 14:15:00,3433.129964,3437.163411,3433.033285,3436.803385,3.578940e+07,3367.618833,0.000520,14:15:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 14:30:00,3439.176595,3440.750000,3437.253337,3438.666667,3.163403e+07,3369.397209,0.000528,14:30:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-18 14:45:00,3440.536702,3442.126709,3439.213298,3440.630046,3.664797e+07,3371.122875,0.000512,14:45:00,2019-02-18,182886089.0,3245.423333,-0.000076,1.0
2019-02-18 15:00:00,3440.303385,3442.990072,3439.643392,3442.700033,4.440258e+07,3372.833209,0.000507,15:00:00,2019-02-18,0.0,0.000000,0.000000,1.0
2019-02-26 09:45:00,3732.683350,3748.296631,3717.753337,3733.876628,2.582711e+08,3495.160408,0.000997,09:45:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 10:00:00,3732.513265,3745.966715,3726.943278,3740.896647,1.278395e+08,3498.572407,0.000976,10:00:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 10:15:00,3750.736654,3756.446696,3743.293294,3748.633382,1.031036e+08,3502.216408,0.001042,10:15:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 10:30:00,3744.436686,3745.013346,3727.250000,3731.453288,1.182407e+08,3505.691492,0.000992,10:30:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 10:45:00,3708.940023,3711.203369,3697.796712,3701.270020,7.825241e+07,3508.709033,0.000861,10:45:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 11:00:00,3700.146729,3707.923340,3697.856608,3706.096598,5.677310e+07,3511.635783,0.000834,11:00:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 11:15:00,3716.750000,3721.856689,3712.716715,3716.036702,4.478574e+07,3514.668699,0.000864,11:15:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 11:30:00,3714.146647,3719.760010,3712.593343,3719.690023,3.723769e+07,3517.926950,0.000927,11:30:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 13:15:00,3730.906657,3738.986654,3728.693278,3736.860026,5.620621e+07,3521.720408,0.001078,13:15:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 13:30:00,3747.743327,3751.390055,3740.313395,3743.573405,5.567958e+07,3525.702493,0.001131,13:30:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 13:45:00,3730.943359,3732.303385,3724.916667,3727.379964,4.551068e+07,3529.445119,0.001062,13:45:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 14:00:00,3728.476644,3733.846761,3726.593343,3730.760091,5.059376e+07,3533.186537,0.001060,14:00:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 14:15:00,3736.790039,3743.569987,3735.276611,3741.186605,5.246252e+07,3537.114245,0.001112,14:15:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 14:30:00,3740.653402,3741.600098,3732.196696,3732.763346,5.355162e+07,3540.932453,0.001079,14:30:00,2019-02-26,0.0,0.000000,0.000000,1.0
2019-02-26 14:45:00,3709.503337,3713.566650,3699.370036,3703.879964,7.176069e+07,3544.248204,0.000936,14:45:00,2019-02-26,358038698.0,3248.908264,0.000410,1.0
2019-02-26 15:00:00,3690.050049,3690.886719,3682.863281,3684.889974,8.184013e+07,3547.330744,0.000870,15:00:00,2019-02-26,0.0,0.000000,0.000000,1.0

In [27]:
df['C'] = int (0) #在表中增加进场标识位‘0’
df.rename(columns={"vol_x":'V15'},inplace = True)
df.shape

(4480, 14)

In [28]:
#begin = pd.to_datetime(df.iloc[0]['date'])   #表中起始日期
#end   = pd.to_datetime(df.iloc[-1]['date'])   #表中的结束日期
#delta = end - begin                         #表中的总天数，少一天  ，开头减末尾，等于总天数-1

In [29]:
#j= str(begin.year)+'-'+str(begin.month)+'-'+str(begin.day)

#### 以天作为循环单位，每次循环比较当天的16位15分钟数据,#### 核心代码

In [30]:
df

,open,high,low,close,V15,MA80,MA80a,time,date,vol_y,MA144,MA144a,B,C
datetime,,,,,,,,,,,,,,
2018-01-02 09:45:00,4050.676676,4062.003418,4048.666667,4058.813314,7.443749e+07,0.000000,0.000000,09:45:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 10:00:00,4063.933350,4071.233398,4063.909993,4069.410075,6.753364e+07,0.000000,0.000000,10:00:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 10:15:00,4065.590088,4065.590088,4060.450033,4062.290039,5.127486e+07,0.000000,0.000000,10:15:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 10:30:00,4067.126628,4072.409993,4067.076660,4072.146566,4.119257e+07,0.000000,0.000000,10:30:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 10:45:00,4075.173340,4077.533366,4073.513346,4075.639974,3.741625e+07,0.000000,0.000000,10:45:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 11:00:00,4079.059977,4080.993327,4076.813314,4079.006673,2.896134e+07,0.000000,0.000000,11:00:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 11:15:00,4077.166667,4079.746745,4076.199951,4078.926676,2.909102e+07,0.000000,0.000000,11:15:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 11:30:00,4083.550049,4084.069987,4081.833333,4082.576660,2.830057e+07,0.000000,0.000000,11:30:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 13:15:00,4080.136637,4081.386637,4078.683350,4079.876628,2.829186e+07,0.000000,0.000000,13:15:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 13:30:00,4082.070068,4083.503337,4081.533285,4083.416585,2.737417e+07,0.000000,0.000000,13:30:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 13:45:00,4085.120036,4086.626709,4083.953369,4084.916667,2.889266e+07,0.000000,0.000000,13:45:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 14:00:00,4080.130046,4080.286621,4077.010010,4077.203288,2.776099e+07,0.000000,0.000000,14:00:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 14:15:00,4075.153320,4075.833333,4073.216715,4073.793376,2.596976e+07,0.000000,0.000000,14:15:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 14:30:00,4076.986735,4081.883382,4076.713379,4081.719971,2.468449e+07,0.000000,0.000000,14:30:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-02 14:45:00,4083.680094,4085.213298,4082.356689,4083.773275,3.040223e+07,0.000000,0.000000,14:45:00,2018-01-02,146935435.0,3848.907292,0.001074,0.0,0
2018-01-02 15:00:00,4085.740072,4087.003337,4085.016764,4086.639974,4.308907e+07,0.000000,0.000000,15:00:00,2018-01-02,0.0,0.000000,0.000000,0.0,0
2018-01-03 09:45:00,4091.776611,4097.439860,4091.356608,4095.699951,7.407853e+07,0.000000,0.000000,09:45:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 10:00:00,4105.149902,4109.246582,4103.763184,4108.016764,6.716828e+07,0.000000,0.000000,10:00:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 10:15:00,4112.483236,4117.373372,4112.026530,4117.013346,5.745935e+07,0.000000,0.000000,10:15:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 10:30:00,4126.193359,4129.669922,4124.709961,4128.066732,4.967582e+07,0.000000,0.000000,10:30:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 10:45:00,4131.716797,4136.036784,4130.976725,4135.906738,4.531621e+07,0.000000,0.000000,10:45:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 11:00:00,4135.596517,4137.033203,4132.886556,4134.206868,3.774275e+07,0.000000,0.000000,11:00:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 11:15:00,4132.496745,4133.236654,4129.663249,4130.459961,3.326225e+07,0.000000,0.000000,11:15:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 11:30:00,4132.773275,4136.290039,4132.290039,4135.880046,3.131291e+07,0.000000,0.000000,11:30:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 13:15:00,4135.583333,4136.270020,4133.223470,4133.516602,3.306695e+07,0.000000,0.000000,13:15:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 13:30:00,4128.743327,4129.956706,4125.973307,4127.509928,3.106229e+07,0.000000,0.000000,13:30:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 13:45:00,4123.100098,4123.473470,4117.406576,4117.526693,4.131758e+07,0.000000,0.000000,13:45:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 14:00:00,4109.100098,4112.916667,4106.970052,4110.066732,3.764352e+07,0.000000,0.000000,14:00:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 14:15:00,4114.876628,4116.693359,4114.156738,4116.273438,2.502134e+07,0.000000,0.000000,14:15:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
2018-01-03 14:30:00,4122.220052,4125.009928,4120.919922,4123.409993,2.892478e+07,0.000000,0.000000,14:30:00,2018-01-03,0.0,0.000000,0.000000,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-27 10:15:00,3694.993327,3698.186686,3686.526611,3689.829915,8.978678e+07,3556.842200,0.000864,10:15:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 10:30:00,3688.126628,3694.813314,3683.396647,3691.556641,6.852280e+07,3559.865616,0.000850,10:30:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 10:45:00,3700.656657,3705.666667,3698.133301,3703.386637,4.609969e+07,3562.961741,0.000870,10:45:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 11:00:00,3700.656657,3703.166667,3696.140055,3699.170003,3.249703e+07,3566.131158,0.000890,11:00:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 11:15:00,3705.700033,3711.460042,3705.243327,3710.640055,4.075697e+07,3569.387159,0.000913,11:15:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 11:30:00,3707.546712,3708.146729,3700.316650,3701.326579,3.441232e+07,3572.589408,0.000897,11:30:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 13:15:00,3708.333333,3716.239990,3707.746663,3715.956624,4.920729e+07,3576.174992,0.001004,13:15:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 13:30:00,3723.199951,3730.993408,3721.476644,3727.550049,6.127853e+07,3579.887743,0.001038,13:30:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 13:45:00,3720.556641,3720.653320,3704.403320,3705.113281,7.476415e+07,3583.368867,0.000972,13:45:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 14:00:00,3688.399984,3690.749919,3680.790039,3685.536702,5.807126e+07,3586.530950,0.000882,14:00:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 14:15:00,3683.816732,3687.180013,3680.210042,3684.023275,4.068756e+07,3589.559866,0.000845,14:15:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 14:30:00,3669.433268,3672.000000,3659.833252,3664.439941,6.214721e+07,3592.295781,0.000762,14:30:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-27 14:45:00,3655.773356,3657.566732,3646.180013,3647.479980,6.582684e+07,3594.761239,0.000686,14:45:00,2019-02-27,286236007.0,3249.968264,0.000326,0.0,0
2019-02-27 15:00:00,3656.626709,3668.329997,3656.626709,3668.316650,5.776788e+07,3597.495155,0.000761,15:00:00,2019-02-27,0.0,0.000000,0.000000,0.0,0
2019-02-28 09:45:00,3670.699951,3678.086670,3656.326742,3666.196696,1.192915e+08,3600.324197,0.000786,09:45:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 10:00:00,3670.726644,3677.900065,3668.406738,3676.840007,6.377088e+07,3603.158656,0.000787,10:00:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 10:15:00,3681.126628,3685.446615,3676.570068,3681.566650,5.112007e+07,3605.968031,0.000780,10:15:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 10:30:00,3688.026693,3693.963298,3686.336670,3689.459961,4.420105e+07,3608.984280,0.000836,10:30:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 10:45:00,3685.146647,3687.926676,3679.896729,3682.596680,3.675515e+07,3611.845989,0.000793,10:45:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 11:00:00,3688.623372,3691.750000,3683.123372,3685.340007,3.432756e+07,3614.637822,0.000773,11:00:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 11:15:00,3674.780029,3678.396647,3670.636637,3673.776611,3.416198e+07,3617.237947,0.000719,11:15:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 11:30:00,3666.766683,3670.846680,3661.563314,3665.979980,3.306269e+07,3619.748405,0.000694,11:30:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 13:15:00,3669.776693,3673.013346,3666.523275,3671.769938,2.943156e+07,3622.142863,0.000661,13:15:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 13:30:00,3681.133301,3686.210042,3680.466634,3683.976725,3.277149e+07,3624.564155,0.000668,13:30:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 13:45:00,3680.166667,3681.170003,3673.610026,3674.860026,2.960777e+07,3626.787322,0.000613,13:45:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 14:00:00,3667.900065,3669.030029,3663.836670,3666.340007,2.911013e+07,3629.148655,0.000651,14:00:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 14:15:00,3665.329997,3667.533366,3662.633301,3666.526611,3.022004e+07,3631.665280,0.000693,14:15:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 14:30:00,3663.859945,3664.586670,3658.830078,3661.803304,3.053494e+07,3634.306989,0.000727,14:30:00,2019-02-28,0.0,0.000000,0.000000,0.0,0
2019-02-28 14:45:00,3668.783366,3673.590007,3666.019938,3669.276611,3.929137e+07,3637.145322,0.000781,14:45:00,2019-02-28,184810220.0,3250.577014,0.000187,0.0,0
2019-02-28 15:00:00,3667.486735,3669.820068,3666.030029,3668.833333,4.904455e+07,3640.010906,0.000788,15:00:00,2019-02-28,0.0,0.000000,0.000000,0.0,0

In [31]:
df.shape

(4480, 14)

In [37]:
dfstd = df['2019-1-18']
dfstd.drop(['open', 'high', 'low', 'close', 'MA80', 'MA80a',  'date', 'vol_y', 'MA144', 'MA144a', 'B', 'C'],axis=1,inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
dfstd

                              V15      time
datetime
2019-01-18 09:45:00  4.152801e+07  09:45:00
2019-01-18 10:00:00  3.227654e+07  10:00:00
2019-01-18 10:15:00  3.384132e+07  10:15:00
2019-01-18 10:30:00  2.032437e+07  10:30:00
2019-01-18 10:45:00  1.993395e+07  10:45:00
2019-01-18 11:00:00  1.753336e+07  11:00:00
2019-01-18 11:15:00  1.543738e+07  11:15:00
2019-01-18 11:30:00  1.405093e+07  11:30:00
2019-01-18 13:15:00  1.342798e+07  13:15:00
2019-01-18 13:30:00  1.647085e+07  13:30:00
2019-01-18 13:45:00  1.522527e+07  13:45:00
2019-01-18 14:00:00  1.699695e+07  14:00:00
2019-01-18 14:15:00  1.806290e+07  14:15:00
2019-01-18 14:30:00  2.384189e+07  14:30:00
2019-01-18 14:45:00  2.780788e+07  14:45:00
2019-01-18 15:00:00  2.917548e+07  15:00:00

In [39]:
n=0
for i in range(5,len(df),16): #从每天的第n个时间点算，周期为16，即15分钟图的1天
    j= df.iloc[i,8]           #读出当天的日期值
    if (df[j].loc[j+' 10:45:00','B']==0) & (n==0): #先寻找成交量标准日，如果不是则直接进入下一天
        continue
    elif(df[j].loc[j+' 10:45:00','B']==1) & (n==0):  #判断当天的日期是否是成交量的高位日
        dfstd = df[j]
        dfstd.drop(['open', 'high', 'low', 'close', 'MA80', 'MA80a',  'date', 'vol_y', 'MA144', 'MA144a', 'B', 'C'],axis=1,inplace=True)
        n=n+1
    elif df[j].loc[j+' 10:45:00','B']==0:
        df_1 = df[j]
        for i in range(16):
            if df_1.iloc[i,4] > dfstd.iloc[i,0]:#寻找第一个突破位
                gold = df_1.iloc[i,8] +' '+df_1.iloc[0,7]#，将该突破位的日期和时刻记入在gold中
                df.loc[gold,'C'] = 1
                break
    elif df[j].loc[j+' 10:45:00','B']==1:
        df_1 = df[j]
        for i in range(16):
            if df_1.iloc[i,4] > dfstd.iloc[i,0]:#寻找第一个突破位
                gold = df_1.iloc[i,8] +' '+df_1.iloc[0,7]#，将该突破位的日期和时刻记入在gold中
                df.loc[gold,'C'] = 1
                break
        dfstd=df[j]
        dfstd.drop(['open', 'high', 'low', 'close', 'MA80', 'MA80a',  'date', 'vol_y', 'MA144', 'MA144a', 'B', 'C'],axis=1,inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

n=0
for i in range(5,len(df),16): #从每天的第n个时间点算，周期为16，即15分钟图的1天
    j= df.iloc[i,8]           #读出当天的日期值
    if (df[j].loc[j+' 10:45:00','B']==0) & (n==0): #先寻找成交量标准日，如果不是则直接进入下一天
        continue
    elif(df[j].loc[j+' 10:45:00','B']==1) & (n==0):  #判断当天的日期是否是成交量的高位日
        dfstd = df[j]
        dfstd.drop(['open', 'high', 'low', 'close', 'MA80', 'MA80a',  'date', 'vol_y', 'MA144', 'MA144a', 'B', 'C'],axis=1,inplace=True)
        n=n+1
    elif df[j].loc[j+' 10:45:00','B']==0:
        df_1 = df[j]
        df_1= pd.merge(df_1,dfstd,on='time') #吧标准的成交量合并到当天的成交量中
        df_1['C'] = np.where(df_1['V15'] > dfstd['V15_y'] ,1,0) #判断当天的成交量与标准成交量的相比，大于为1，小于为0
        for i in range(16):
            if df_1.iloc[i,13] == 1:#寻找第一个突破位
                gold = df_1.iloc[0,8] +' '+df_1.iloc[0,7]#，将该突破位的日期和时刻记入在gold中
                df.loc[gold,'C'] = 1
                break
    elif df[j].loc[j+' 10:45:00','B']==1:
        df_1 = df[j]
        df_1= pd.merge(df_1,dfstd,on='time')
        df_1['C'] = np.where(df_1['V15'] > dfstd['V15_y'] ,1,0)
        for i in range(16):
            if df_1.iloc[i,13] == 1:#寻找第一个突破位
                gold = df_1.iloc[0,8] +' '+df_1.iloc[0,7]#，将该突破位的日期和时刻记入在gold中
                df.loc[gold,'C'] = 1
                break
        dfstd=df[j]
        dfstd.drop(['open', 'high', 'low', 'close', 'MA80', 'MA80a',  'date', 'vol_y', 'MA144', 'MA144a', 'B', 'C'],axis=1,inplace=True)

### 出标识点csv文件

In [41]:
linshi= df[df['C']==1]

In [42]:
linshi.to_csv('D:/tushare/sz399300buy.csv',sep = ',',encoding='utf8')#导出标识点csv文件

In [ ]:
dftsd.drop(['open', 'high','low','close' ,'amount','MA80','MA80a','vol_y', 'MA144', 'MA144a','B','C'],axis=1,inplace=True)

In [ ]:
dftsd

In [ ]:
df1 = pd.merge(df1,dftsd,on='time')

In [ ]:
df1.loc[4,'C']

In [ ]:
type(df1)

In [ ]:
dfstd = df[df.iloc[1]['date']]['vol_x']

In [ ]:
dfstd

# 选取等于某些值的行记录 用 == 
df.loc[df['column_name'] == some_value]
# 选取某列是否是某一类型的数值 用 isin
df.loc[df['column_name'].isin(some_values)]
# 多种条件的选取 用 &
df.loc[(df['column'] == some_value) & df['other_column'].isin(some_values)]
# 选取不等于某些值的行记录 用 ！=
df.loc[df['column_name'] != some_value]
# isin返回一系列的数值,如果要选择不符合这个条件的数值使用~
df.loc[~df['column_name'].isin(some_values)]